#content, #chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
}
#content h1 {
    margin: 0;
    padding: 1.25rem 2.5rem;
}
#content h2 {
    margin: 0;
    padding: 0 2.5rem;
}
#inputs {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem 2.5rem;
}
#message-input {
    flex-grow: 1;
}
#send-button {
    width: 5rem;
}
#messages {
    height: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}
#messages .message {
    padding: 0.75rem 1rem 0.75rem 1rem;
    margin: 0 2.5rem;
}
#messages .message table {
    table-layout:fixed;
    max-width: 100%;
    word-break: break-word;
}
#messages .message .plot {
    max-width: 100%;
}
html[data-theme="light"] #messages .message .plot {
    filter: none;
    mix-blend-mode: multiply;
}
html[data-theme="dark"] #messages .message .plot {
    filter: invert(1);
    mix-blend-mode: screen;
}
@media (prefers-color-scheme: dark) {
    #messages .message .plot {
        filter: invert(1);
        mix-blend-mode: screen;
    }
}
#messages .user.message {
    max-width: 70%;
    align-self: flex-end;
    border-radius: 0.5rem;
    background-color: var(--darkened-bg);
}
#messages .agent.message {
    padding: 1.25rem 0;
}
#loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 1500ms infinite;      
    animation: ellipsis steps(4,end) 1500ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}
@keyframes ellipsis {
    to {
        width: 1em;    
    }
}
@-webkit-keyframes ellipsis {
    to {
        width: 1em;    
    }
}